.executives {
  padding: 1.5rem;
  background-color: var(--color-grey-light-1);
  min-height: calc(100vh - 8rem);

  &__list {
    margin-top: 7rem;
    list-style: none;

    & li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;

      & h3 {
        font-size: 1.5rem;
        color: var(--color-secondary);
        flex-basis: 45%;
      }
    }
  }
}
