.header {
  height: 8rem;
  background-color: var(--color-secondary);
  padding: 1.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  // z-index: 100000;
  // overflow: hidden;

  &__logo {
    // flex-basis: 60%;
    display: flex;
    align-items: center;

    & h3 {
      font-size: 1.5rem;
    }
  }
}

.logo {
  width: 15%;
  height: 5rem;
  border-radius: 2.5rem;
  margin-right: 1rem;
}
