.nav-item {
  position: relative;
}
.nav-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary-dark);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0.43, 0.73) 0.2s,
    background-color 0.1s;
}

.nav-item:hover::before {
  transform: scaleY(1);
  width: 100%;
}

.nav-item:active::before {
  background-color: var(--color-primary);
}

.nav-item {
  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    padding: 1.5rem 2rem;
    display: block;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }
}
