:root {
  --color-primary: #c69963;
  --color-primary-dark: #b28451;

  --color-secondary: #101d2c;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-grey-light-2);
  font-weight: 400;
  line-height: 1.6;
}

.error__text {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30rem);
  color: rgb(237, 48, 48);
}

.error__message {
  font-size: 1.5rem;
  color: rgb(237, 48, 48);
}

.action__icons {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.mr-1 {
  margin-right: 1.5rem;
}

.delete {
  fill: rgb(237, 48, 48);
}

.ta-right {
  text-align: right !important;
}

/* .action__icons:not(:last-child) {
  margin-right: 1.5rem;
} */

/* .action__icons:last-child {
  fill: rgb(237, 48, 48);
} */
